* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

:root {
  --black: #000;
  --white: #FFF;
  --darkblue: #000099;
  --lightblue: #B4D6FC;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
  margin-top: -2rem;
  padding: 0 1rem;
  transition: all 0.3s ease;
}
.navbar .content {
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.navbar img {
  width: 25%;
}
.navbar .menu-list {
  display: none;
}
.navbar .menu-list li {
  list-style: none;
}
.navbar .menu-list a {
  color: var(--black);
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.navbar .menu-list a:hover {
  color: var(--darkblue);
}
.navbar .menu-list .cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

.sticky {
  background: var(--white);
  box-shadow: 0px 3px 5px 0px var(--white);
  margin-top: -2rem;
}

.icon {
  color: var(--darkblue);
  font-size: 23px;
  cursor: pointer;
}

body.disabled {
  overflow: hidden;
}

.icon {
  display: block;
}

.icon.hide {
  display: none;
}

.navbar .menu-list {
  position: fixed;
  height: 100vh;
  width: 100%;
  max-width: 400px;
  left: -100%;
  top: 0px;
  display: block;
  padding: 40px 0;
  text-align: center;
  background: var(--lightblue);
  transition: all 0.3s ease;
}
.navbar .menu-list li {
  margin-top: 40px;
}
.navbar .menu-list a {
  font-size: 23px;
  margin-left: -100%;
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navbar.show .menu-list {
  left: 0%;
}

.navbar.show .menu-list li a {
  margin-left: 0px;
}

.navbar .logo a {
  font-size: 27px;
}

@media (max-width: 768px) {
  .navbar {
    margin-top: -1rem;
    padding: 1rem 1rem;
  }
}
@media (max-width: 500px) {
  .navbar img {
    width: 50%;
  }
}
.cover {
  padding-top: 5rem;
  margin: 3% 10%;
}
.cover .cover-desc h1 {
  margin-top: 3rem;
  color: var(--darkblue);
  font-weight: 700;
  text-align: center;
}
.cover #accordion {
  margin: 2rem auto;
  padding: 0;
}
.cover #accordion li {
  list-style: none;
  width: 100%;
  margin-bottom: 10px;
  background: var(--darkblue);
  padding: 10px;
  border-radius: 4px;
}
.cover #accordion label {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: var(--white);
}
.cover #accordion label + input[type=radio] {
  display: none;
}
.cover #accordion label + input[type=radio]:checked + .content {
  max-height: fit-content;
}
.cover #accordion span {
  transform: rotate(90deg);
  font-size: 22px;
}
.cover #accordion .content {
  padding: 0 10px;
  line-height: 26px;
  color: var(--white);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

@media (max-width: 768px) {
  .cover {
    padding: 3rem 0;
    margin: 1rem 1rem;
  }
}
@media (max-width: 500px) {
  .cover #accordion {
    margin: 0;
  }
}
.footer {
  justify-content: space-between;
  display: flex;
  padding: 1.5rem 5%;
  text-align: center;
}
.footer b {
  color: var(--darkblue);
}