* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

:root {
    --black: #000;
    --white: #FFF;
    --darkblue: #000099;
    --lightblue: #B4D6FC;
}

.navbar {
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	color: var(--black);
	display: flex;
	justify-content: space-around;
	align-items: center;

	.nav-list {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	.primary-icon {
		height: 1rem;
	}
    
	.list-item {
		display: inline-block;
		padding: 20px 10px;
	}

	a {
		color: var(--black);
        font-weight: 700;
		text-transform: uppercase;
		text-decoration: none;

		&:hover {
			color: var(--darkblue);
		}
	}

    .active {
        color: var(--darkblue);
    }

    .menu {
        display: none;

        i {
            color: var(--black);
            font-size: 24px;
        }
    }
}

@media (max-width: 768px) {
	.navbar {
		flex-direction: column;
		background-color: var(--lightblue);
        height: 5rem;

        .primary-icon {
            height: .5rem;
        }

		.nav-list {
			list-style-type: none;
			width: 100%;
            position: absolute;
            top: 5rem;
			text-align: center;
			display: none;
			padding: 0;

			.list-item {
				display: block;
				background-color: var(--lightblue);
			}
		}

		.active {
			display: block;
            z-index: 100;
		}

        .menu {
            display: block;
            position: absolute;
            right: 15px;
            top: 25px;
        }
	}
}

.clients {
    text-align: center;

    .clients-title {

        h1 {
            padding: 2rem 0;
            font-weight: 700;
            text-transform: uppercase;
            color: var(--darkblue);
        }
    }

    .row {
        padding: 0 5%;
        margin: 0;

        .column {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            .card {
                padding: 1rem 1rem;
                margin: 1rem 1rem;
                width: 18rem;
                height: 32rem;
                align-items: center;
                transition: .5s;

                img {
                    width: 300px;
                    justify-content: center;
                }

                span {
                    font-weight: 600;
                }

                p {
                    font-size: 12px;
                }
            }

            .card:hover {
                background-color: var(--lightblue);
            }
        }
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .clients {

        .row {
            padding: 0 5%;

            .column {

                .card {
                    margin: .5rem .5rem;
                    height: auto;

                    span {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .clients {

        .row {
            display: block;

            .column {
                display: grid;
                grid-template-columns: 1fr 1fr;

                .card {
                    height: auto;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .clients {

        .row {

            .column {
                grid-template-columns: 1fr;
            }
        }
    }
}

.footer {
    justify-content: space-between;
    display: flex;
    padding: 1.5rem 5%;
    text-align: center;

    b {
        color: var(--darkblue);
    }
}