* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

:root {
    --black: #000;
    --white: #FFF;
    --darkblue: #000099;
    --lightblue: #B4D6FC;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 0;
    transition: all 0.3s ease;

    .content{
        max-width: 1250px;
        margin: auto;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
    }

    img {
        width: 25%;
    }

    .menu-list {
        display: none;

        li {
            list-style: none;
        }
        
        a {
            color: var(--black);
            font-size: 18px;
            font-weight: 500;
            margin-left: 25px;
            text-decoration: none;
            transition: all 0.3s ease;
        }

        a:hover {
            color: var(--darkblue);
        }

        .cancel-btn {
            position: absolute;
            right: 30px;
            top: 20px;
        }
    }
}

.sticky {
    background: var(--white);
    box-shadow: 0px 3px 5px 0px var(--white);
}

.icon{
    color: var(--darkblue);
    font-size: 23px;
    cursor: pointer;
}

body.disabled{
    overflow: hidden;
}

.icon{
    display: block;
}

.icon.hide{
    display: none;
}

.navbar {

    .menu-list {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        left: -100%;
        top: 0px;
        display: block;
        padding: 40px 0;
        text-align: center;
        background: var(--lightblue);
        transition: all 0.3s ease;

        li {
            margin-top: 40px;
        }

        a {
            font-size: 23px;
            margin-left: -100%;
            transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
    }
}

.navbar.show .menu-list{
    left: 0%;
}

.navbar.show .menu-list li a{
    margin-left: 0px;
}


.navbar .logo a{
    font-size: 27px;
}

@media (max-width: 768px) {
    .navbar {
        padding: 1rem 1rem;
    }
}

@media (max-width: 500px) {
    .navbar {

        img {
            width: 50%;
        }
    }
}

.cover {
    padding-top: 6rem;

    .cover-desc {
        text-align: center;

        img {
            width: 100%;
            height: 70vh;
        }

        h1 {
            margin: 3rem 0;
            color: var(--darkblue);
            text-transform: uppercase;
            font-weight: 700;
        }
    }

    .forms {
        padding: 5rem 10%;
        display: flex;
        justify-content: space-around;

        form {
            
            h1 {
                font-size: 24px;
                color: var(--darkblue);
                text-transform: uppercase;
                font-weight: 800;
            }

            input {
                width: 180%;
            }

            textarea {
                width: 180%;
                height: 10rem;
                margin-bottom: 1rem;
            }

            button {
                padding: 10px 50px;
                background: var(--darkblue);
                transition: all .5s ease;
            }

            button:hover {
                background-color:   var(--black);
            }
        }

        .side-forms {
            margin-left: 1rem;

            p {
                margin: 2rem 0;
                font-size: 20px;
                line-height: 3rem;
                text-align: justify;
            }

            b {
                color: var(--darkblue);
            }
        }
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .cover {

        .forms {
            padding: 5rem 5%;
            justify-content: space-between;
        }

        .side-forms {
            
            p {
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 768px) {
    .cover {
        padding-top: 5.3rem;

        .forms {
            display: block;

            form {
                
                input {
                    width: 100%;
                }

                textarea {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .cover {
        padding-top: 4.6rem;

        .cover-desc {

            img {
                height: 15rem;
            }
        }

        .forms {
            padding: 1rem 5%;

            .side-forms {
                margin: 0;

                p {
                    font-size: 12px;
                    line-height: 1.5rem;
                }
            }
        }
    }
}

.maps {

    iframe {
        width: 100%;
        height: 50vh;
    }
}

.footer {
    justify-content: space-between;
    display: flex;
    padding: 1.5rem 5%;
    text-align: center;

    b {
        color: var(--darkblue);
    }
}