* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

:root {
  --black: #000;
  --white: #FFF;
  --darkblue: #000099;
  --lightblue: #B4D6FC;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 10px 0;
  transition: all 0.3s ease;
}
.navbar .content {
  width: 100%;
  margin: auto;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo img {
  width: 10rem;
}
.navbar .logo a {
  color: var(--black);
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list {
  display: inline-flex;
  margin: 0;
}
.navbar .menu-list li {
  list-style: none;
}
.navbar .menu-list a {
  color: var(--black);
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.navbar .menu-list a:hover {
  color: var(--darkblue);
}
.navbar .menu-list .cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

.sticky {
  background: var(--white);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1019607843);
}

.icon {
  color: var(--black);
  font-size: 20px;
  cursor: pointer;
  display: none;
}

@media (max-width: 800px) {
  body.disabled {
    overflow: hidden;
  }
  .icon {
    display: block;
  }
  .icon.hide {
    display: none;
  }
  .navbar .content {
    padding: 0 25px;
  }
  .navbar .menu-list {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: var(--lightblue);
    transition: all 0.3s ease;
  }
  .navbar .menu-list li {
    margin-top: 45px;
  }
  .navbar .menu-list a {
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list {
    left: 0%;
  }
  .navbar.show .menu-list li a {
    margin-left: 0px;
  }
}
.cover {
  padding-top: 6rem;
}
.cover .cover-desc {
  text-align: center;
}
.cover .cover-desc img {
  width: 100%;
  height: 70vh;
}
.cover .cover-desc h1 {
  margin: 3rem 0;
  color: var(--darkblue);
  text-transform: uppercase;
  font-weight: 700;
}
.cover .forms {
  padding: 5rem 10%;
  display: flex;
  justify-content: space-around;
}
.cover .forms form h1 {
  font-size: 24px;
  color: var(--darkblue);
  text-transform: uppercase;
  font-weight: 800;
}
.cover .forms form input {
  width: 180%;
}
.cover .forms form textarea {
  width: 180%;
  height: 10rem;
  margin-bottom: 1rem;
}
.cover .forms form button {
  padding: 10px 50px;
  background: var(--darkblue);
  transition: all 0.5s ease;
}
.cover .forms form button:hover {
  background-color: var(--black);
}
.cover .forms .side-forms {
  margin-left: 1rem;
}
.cover .forms .side-forms p {
  margin: 2rem 0;
  font-size: 20px;
  line-height: 3rem;
  text-align: justify;
}
.cover .forms .side-forms b {
  color: var(--darkblue);
}

@media (max-width: 1024px) and (min-width: 769px) {
  .cover .forms {
    padding: 5rem 5%;
    justify-content: space-between;
  }
  .cover .side-forms p {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .cover {
    padding-top: 5.3rem;
  }
  .cover .forms {
    display: block;
  }
  .cover .forms form input {
    width: 100%;
  }
  .cover .forms form textarea {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .cover {
    padding-top: 4.6rem;
  }
  .cover .cover-desc img {
    height: 15rem;
  }
  .cover .forms {
    padding: 1rem 5%;
  }
  .cover .forms .side-forms {
    margin: 0;
  }
  .cover .forms .side-forms p {
    font-size: 12px;
    line-height: 1.5rem;
  }
}
.maps iframe {
  width: 100%;
  height: 50vh;
}

.footer {
  justify-content: space-between;
  display: flex;
  padding: 1.5rem 5%;
  text-align: center;
}
.footer b {
  color: var(--darkblue);
}