* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

:root {
  --black: #000;
  --white: #FFF;
  --darkblue: #000099;
  --lightblue: #B4D6FC;
}

.navbar {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  color: var(--black);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar .nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar .primary-icon {
  height: 1rem;
}
.navbar .list-item {
  display: inline-block;
  padding: 20px 10px;
}
.navbar a {
  color: var(--black);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.navbar a:hover {
  color: var(--darkblue);
}
.navbar .active {
  color: var(--darkblue);
}
.navbar .menu {
  display: none;
}
.navbar .menu i {
  color: var(--black);
  font-size: 24px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    background-color: var(--lightblue);
    height: 5rem;
  }
  .navbar .primary-icon {
    height: 0.5rem;
  }
  .navbar .nav-list {
    list-style-type: none;
    width: 100%;
    position: absolute;
    top: 5rem;
    text-align: center;
    display: none;
    padding: 0;
  }
  .navbar .nav-list .list-item {
    display: block;
    background-color: var(--lightblue);
  }
  .navbar .active {
    display: block;
    z-index: 100;
  }
  .navbar .menu {
    display: block;
    position: absolute;
    right: 15px;
    top: 25px;
  }
}
.cover .cover-desc {
  text-align: center;
}
.cover .cover-desc img {
  width: 100%;
  height: 40vh;
}
.cover .cover-desc h1 {
  margin: 3rem 0;
  color: var(--darkblue);
  text-transform: uppercase;
  font-weight: 700;
}
.cover .forms {
  padding: 0 10%;
  display: flex;
  justify-content: space-around;
}
.cover .forms form {
  text-align: center;
}
.cover .forms form h1 {
  text-transform: uppercase;
  color: var(--darkblue);
  font-weight: 700;
}
.cover .forms form input,
.cover .forms form textarea {
  border: 2px solid var(--darkblue);
  padding: 0.5rem 4rem;
  border-radius: 10px;
  margin: 0.5rem 0;
}
.cover .forms form a {
  background-color: var(--darkblue);
  padding: 0.5rem 3rem;
  color: var(--white);
  text-decoration: none;
  border-radius: 10px;
  transition: 0.5s;
}
.cover .forms form a:hover {
  color: var(--black);
  background-color: var(--lightblue);
}
.cover .forms form p {
  margin-top: 1rem;
  text-align: center;
}
.cover .forms .side-forms {
  margin-left: 1rem;
}
.cover .forms .side-forms p {
  margin: 2rem 0;
  text-align: justify;
}

@media (max-width: 500px) {
  .cover .forms {
    display: block;
    padding: 0;
    margin: 0 1rem;
    text-align: center;
  }
  .cover .forms form input {
    padding: 0.5rem 2.5rem;
  }
  .cover .forms form textarea {
    padding: 0.5rem 1.1rem;
  }
  .cover .forms .side-forms {
    margin: 0 1rem;
  }
}
.footer {
  justify-content: space-between;
  display: flex;
  padding: 1.5rem 5%;
  text-align: center;
}
.footer b {
  color: var(--darkblue);
}