* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

:root {
  --black: #000;
  --white: #FFF;
  --darkblue: #000099;
  --lightblue: #B4D6FC;
}

.navbar {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  color: var(--black);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar .nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar .primary-icon {
  height: 1rem;
}
.navbar .list-item {
  display: inline-block;
  padding: 20px 10px;
}
.navbar a {
  color: var(--black);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.navbar a:hover {
  color: var(--darkblue);
}
.navbar .active {
  color: var(--darkblue);
}
.navbar .menu {
  display: none;
}
.navbar .menu i {
  color: var(--black);
  font-size: 24px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    background-color: var(--lightblue);
    height: 5rem;
  }
  .navbar .primary-icon {
    height: 0.5rem;
  }
  .navbar .nav-list {
    list-style-type: none;
    width: 100%;
    position: absolute;
    top: 5rem;
    text-align: center;
    display: none;
    padding: 0;
  }
  .navbar .nav-list .list-item {
    display: block;
    background-color: var(--lightblue);
  }
  .navbar .active {
    display: block;
    z-index: 100;
  }
  .navbar .menu {
    display: block;
    position: absolute;
    right: 15px;
    top: 25px;
  }
}
.services {
  text-align: center;
}
.services .services-title h1 {
  padding: 2rem 0;
  font-weight: 700;
  color: var(--darkblue);
}
.services .row {
  padding: 0 10%;
  margin: 0;
}
.services .row .column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.services .row .column .card {
  padding: 1rem 1rem;
  margin: 1rem 1rem;
  width: 18rem;
  height: 31rem;
  align-items: center;
  transition: 0.5s;
}
.services .row .column .card img {
  width: 200px;
  justify-content: center;
}
.services .row .column .card span {
  font-weight: 600;
}
.services .row .column .card p {
  font-size: 12px;
}
.services .row .column .card:hover {
  background-color: var(--lightblue);
}

@media (max-width: 1024px) and (min-width: 769px) {
  .services .row {
    padding: 0 5%;
  }
  .services .row .column .card {
    margin: 0.5rem 0.5rem;
    height: auto;
  }
  .services .row .column .card span {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  .services .row {
    display: block;
  }
  .services .row .column {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .services .row .column .card {
    height: auto;
  }
}
@media (max-width: 500px) {
  .services .row .column {
    grid-template-columns: 1fr;
  }
}
.footer {
  justify-content: space-between;
  padding: 1.5rem 5%;
  text-align: center;
}
.footer b {
  color: var(--darkblue);
}