* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

:root {
    --black: #000;
    --white: #FFF;
    --darkblue: #000099;
    --lightblue: #B4D6FC;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 0;
    transition: all 0.3s ease;

    .content{
        max-width: 1250px;
        margin: auto;
        padding: 20px 20px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
    }

    img {
        width: 50%;
    }

    .menu-list {
        display: none;

        li {
            list-style: none;
        }
        
        a {
            color: var(--black);
            font-size: 18px;
            font-weight: 500;
            margin-left: 25px;
            text-decoration: none;
            transition: all 0.3s ease;
        }

        a:hover {
            color: var(--darkblue);
        }

        .cancel-btn {
            position: absolute;
            right: 30px;
            top: 20px;
        }
    }
}

.sticky {
    background: var(--white);
    padding: 10px 0;
    box-shadow: 0px 3px 5px 0px var(--white);
}

.icon{
    color: var(--darkblue);
    font-size: 23px;
    cursor: pointer;
}

body.disabled{
    overflow: hidden;
}

.icon{
    display: block;
}

.icon.hide{
    display: none;
}

.navbar {

    .content {
        padding: 5px 15px;
    }

    .menu-list {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        left: -100%;
        top: 0px;
        display: block;
        padding: 40px 0;
        text-align: center;
        background: var(--lightblue);
        transition: all 0.3s ease;

        li {
            margin-top: 40px;
        }

        a {
            font-size: 23px;
            margin-left: -100%;
            transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
    }
}

.navbar.show .menu-list{
    left: 0%;
}

.navbar.show .menu-list li a{
    margin-left: 0px;
}


.navbar .logo a{
    font-size: 27px;
}

.slider {
	width: 100%;
    height: 100vh;
    padding-top: 3rem;
	border-radius: 10px;
	overflow: hidden;
}
.slides {
	width: 500%;
    height: 100vh;
	display: flex;
	input {
		display: none;
	}
}
.slide {
	width: 20%;
	transition: 2s;
	img {
		width: 100%;
		height: 100vh;
	}
}
.navigation-manual {
	position: absolute;
	width: 100%;
	margin-top: -80px;
	display: flex;
	justify-content: center;
    display: none;
}
.manual-btn {
	border: 2px solid var(--darkblue);
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
	&:not(:last-child) {
		margin-right: 40px;
	}
	&:hover {
		background: var(--white);
	}
}
#radio1 {
	&:checked {
		& ~ .first {
			margin-left: 0;
		}
		& ~ .navigation-auto {
			.auto-btn1 {
				background: var(--darkblue);
			}
		}
	}
}
#radio2 {
	&:checked {
		& ~ .first {
			margin-left: -20%;
		}
		& ~ .navigation-auto {
			.auto-btn2 {
				background: var(--white);
			}
		}
	}
}
#radio3 {
	&:checked {
		& ~ .first {
			margin-left: -40%;
		}
		& ~ .navigation-auto {
			.auto-btn3 {
				background: var(--white);
			}
		}
	}
}
#radio4 {
	&:checked {
		& ~ .first {
			margin-left: -60%;
		}
		& ~ .navigation-auto {
			.auto-btn4 {
				background: var(--white);
			}
		}
	}
}
#radio5 {
	&:checked {
		& ~ .first {
			margin-left: -80%;
		}
		& ~ .navigation-auto {
			.auto-btn4 {
				background: var(--white);
			}
		}
	}
}
.navigation-auto {
	position: absolute;
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 665px;
    display: none;
	div {
		border: 2px solid var(--darkblue);
		padding: 5px;
		border-radius: 10px;
		transition: 1s;
		&:not(:last-child) {
			margin-right: 40px;
		}
	}
}

@media (max-width: 768px) {
    .slider {
        height: 24rem;
        padding-top: 3rem;
    }
    .slide {

        img {
            height: fit-content;
        }
    }

    .navigation-manual {
        margin-top: -20rem;
    }

    .navigation-auto {
        margin-top: -20rem;
    }
}

@media (max-width: 500px) {
    .slider {
        height: 13rem;
    }

    .navigation-manual {
        margin-top: -29rem;
    }

    .navigation-auto {
        margin-top: -29rem;
    }
}

.promotion {
    text-align: center;
    padding: 5rem 5%;

    .promotion-title {

        h1 {
            font-weight: 800;
            color: var(--darkblue);
            margin-bottom: 3rem;
        }

        p {
            text-align: center;
            margin: 0 200px;
            line-height: 2rem;
            margin-bottom: 3rem;
        }

        a {
            background-color: var(--darkblue);
            padding: 15px 60px;
            border-radius: 10px;
            text-decoration: none;
            color: var(--white);
            transition: .5s;
        }

        a:hover {
            background-color: var(--lightblue);
            color: var(--black);
        }
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .promotion {

        .promotion-title {

            h1 {
                font-size: 25px;
            }

            p {
                margin: 0 2rem;
                margin-bottom: 3rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .promotion {
        padding: 3rem 3%;

        .promotion-title {

            h1 {
                font-size: 1.5rem;
            }

            p {
                margin: 3rem 1rem;
            }
        }
    }
}

.services {
    text-align: center;

    .services-title {

        h1 {
            padding: 2rem 0;
            font-weight: 700;
            color: var(--darkblue);
            text-transform: uppercase;
        }
    }

    .row {
        padding: 0 10%;
        margin: 0;

        .column {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .card {
                padding: 1rem 1rem;
                margin: 1rem 1rem;
                width: 18rem;
                height: 31rem;
                align-items: center;
                transition: .5s;

                img {
                    width: 200px;
                    justify-content: center;
                }

                span {
                    font-weight: 600;
                }

                p {
                    font-size: 12px;
                }
            }

            .card:hover {
                background-color: var(--lightblue);
            }
        }
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .services {

        .row {
            padding: 0 5%;

            .column {

                .card {
                    margin: .5rem .5rem;
                    height: auto;

                    span {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .services {

        .row {
            display: block;

            .column {
                display: grid;
                grid-template-columns: 1fr 1fr;

                .card {
                    height: auto;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .services {

        .row {

            .column {
                grid-template-columns: 1fr;
            }
        }
    }
}

.work {
    text-align: center;
    padding: 3rem 15%;

    .work-title {

        h1 {
            padding: 2rem 0;
            font-weight: 700;
            color: var(--darkblue);
            text-transform: uppercase;
        }
    }

    .work-life {
        margin-top: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .work-img {

            img {
                width: 30rem;
                height: 20rem;
            }
        }
    }

    .work-desc {
        margin: 0 1.5rem;

        h1 {
            font-weight: 700;
            color: var(--darkblue);
        }
    }
}

@media (max-width: 500px) {
    .work {
        padding: 2rem 5%;

        .work-life {
            display: block;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            padding: 1rem 1rem;
            margin-top: 2rem;

            .work-img {

                img {
                    width: 250px;
                    margin-bottom: 1rem;
                }
            }
        }

        .work-desc {
            margin: 0 .5rem;
        }
    }
}

.footer {
    justify-content: space-between;
    display: flex;
    padding: 1.5rem 5%;
    text-align: center;

    b {
        color: var(--darkblue);
    }
}